@model UniversityRegistration.Models.ViewRostersViewModel

@{
    ViewBag.Title = "View Class Rosters";
}

<h2>View Class Rosters</h2>
@{
    int i = 0;
    foreach (var item in Model.classes)
    {
        int classSize = ViewBag.classSize[i];
        i = i + 1;
        <table class="table">
            <tr>
                <th>@item.Name</th>
            </tr>
            @for (int j = 0; j < classSize; j++)
            {
                <tr>
                    <td>@Model.students[j].Name</td>
                </tr>

                Model.students.RemoveAt(j);
            }
        </table>
    }
}