@using Microsoft.AspNet.Identity
@if (Session["Type"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            Hello!
        </li>
        <li><a href="/User/LogOut">Log off</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "LogIn", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
