@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University Registration</h1>
    <p class="lead">Choose an option at the top of the page to begin</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>