@model IEnumerable<UniversityRegistration.Models.Major>

@{
    ViewBag.Title = "Choose Major";
}

<h2>Choose Major</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.majorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.majorName)
        </td>
        <td>
            @Html.ActionLink("View Students", "ViewStudents", new { majorName=item.majorName })
        </td>
    </tr>
}

</table>
