@{
    ViewBag.Title = "Admin Menu";
}

<div class="jumbotron">
    <h1>Admin Menu</h1>
    <p class="lead">Choose one of the options below</p>
    <p class="lead">@ViewBag.Name</p>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            <li>View Enrollment Info</li>
            <li>Add User</li>
            <li>Change User Password</li>
            <li>Create Semester</li>
            <li>Deactivate Semester</li>
            <li>Assign Students to Advisor</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Add Building</li>
            <li>Assign Professor to Class</li>
            <li>View All Students</li>
            <li>Set Room for Class</li>
            <li>Set User Status</li>
            <li>View Students for Advisor</li>
            <li>Add User to Class</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>View Students in Major</li>
            <li>Activate Semester</li>
            <li>Remove Class</li>
            <li>Add Class</li>
            <li>Add Room</li>
            <li>Edit User's Info</li>
        </ul>
    </div>
</div>